.lt-tactic-header {
  --font-family: "Roboto", sans-serif;
  --background-color: #e5e5e5;
  --background-color-hover: #aed7c5;
  --color: #000;
  --color-hover: #000;
  margin-bottom: 40px;
}

.lt-tactic-header__banner {
  display: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .lt-tactic-header__banner {
    display: block;
  }
}

.lt-tactic-header__banner img {
  display: block;
  width: 100%;
}

.lt-tactic-header__nav {
  font-family: var(--font-family);
  position: relative;
}

.lt-tactic-header__list {
  list-style-type: none;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.lt-tactic-header__list__item {
  width: calc(100% / 3 - 15px);
}

@media screen and (min-width: 481px) {
  .lt-tactic-header__list__item {
    width: calc(100% / 3 - 15px);
  }
}

@media screen and (min-width: 769px) {
  .lt-tactic-header__list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    -ms-flex-wrap: none;
        flex-wrap: none;
  }
}

.lt-tactic-header__list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 15px;
  background: var(--background-color);
  text-decoration: none;
  color: var(--color);
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
  overflow: hidden;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 769px) {
  .lt-tactic-header__list__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
  }
}

.lt-tactic-header__list__link--image {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .lt-tactic-header__list__link--image {
    text-align: right;
  }
}

.lt-tactic-header__list__link:hover {
  background: var(--background-color-hover);
  color: var(--color-hover);
}

.lt-tactic-header__list__link img {
  max-width: 60px;
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .lt-tactic-header__list__link img {
    margin: 0;
    margin-right: 10px;
    max-width: 50%;
  }
}
